<configuration>
    <timestamp key="date" datePattern="yyyy-MM-dd"/>

    <appender name="console" class="ch.qos.logback.core.FileAppender">
        <file>../logs/${date}/CONSOLE.txt</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="errors" class="ch.qos.logback.core.FileAppender">
        <file>../logs/${date}/ERROR.txt</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="request-log" class="ch.qos.logback.core.FileAppender">
        <file>../logs/${date}/REQRES.txt</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level = 'ALL'>
        <appender-ref level="ALL" ref="console"/>
        <appender-ref level="ERROR" ref="errors"/>
    </root>
    <logger name="request-log">
        <appender-ref ref="request-log" level="ALL"/>
    </logger>


</configuration>